:root {
  font-size: 16px;
}

* {
  color: var(--text-color);
}
body {
  @apply flex flex-col overflow-hidden w-100vw h-100vh;
  #app {
    @apply flex-1 h-0;
    background-color: var(--background-page);
  }
}